.example-spacer {
  flex: 1 1 auto;
}
.header{
  background-color:pink;
  justify-content: space-between;
  display:flex;
  margin-top:20px;
}
.sub-menu,.product-text{
color:black;
padding-left:70px;
font-size:30px;
display:flex;
align-items: center;
justify-content: space-between;
gap:50px;
}
.product-text{
   font-size: 20px;
  justify-content: space-between;
  text-decoration:none;
  padding-left: 40px;
  cursor:pointer;
}
